body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-viewport {
    position: relative;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Hide the parts of the video outside this container */
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio, fill the container */
    object-position: 50% 50%; /* Start centered */
}
